.avatar{
width: 100px;
border: 1px solid crimson;
border-radius: 50px;

}
.description{
    padding-left: 12px;
}

.mainPhoto{
    margin: 5px;
    width: 15%;
    height: 15%;
    border:  2px ridge #2b6923;
    border-radius: 100%;
}
.contact{
    padding-left: 10px;
    font-family: cursive;
}
.ProfileDescr{
    font-family: cursive;
}
